<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GALACTIC GUPPY</title>
    <meta name="description" content="The Galactic Guppy—The Ultimate Fish Out Of Water Story.">
    <meta name="author" content="Josh Crain">
    <meta name="generator" content="eleventy">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet"> 
    <style>
        *{box-sizing: border-box;}
        .visuallyhidden { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }
        html, body {font-size: 1.5rem;text-align: center;padding:0;margin:0;}
        html, body, article, .hgroup {
        block-size: 100%;
        }

        html {
        scroll-snap-type: y;
        }

        article,hgroup {
        scroll-snap-stop: always;
        scroll-snap-align: center;
        
        }
        article{height:100vh;display: flex;
        align-items: center;
        justify-content: center;margin:0 auto; max-width: 800px;}
        img{max-width: 100%;}
        .hero{background:url('/images/hero2.png') center;background-size: cover;max-width: 2400px;min-height:698px;margin:0 auto;padding:1rem 0;}
        h1{letter-spacing:.05em;color:#FFF;text-align: center;font-size:3.25rem;line-height:.75em;margin:0;display: block;}
        h1, .byline{font-family: 'Bakbak One', cursive;padding:0 1rem;}
        h1 span{display: block;font-size:2rem;}
        .byline{font-size: 1.5rem;margin-top:0;}
        footer{font-size:.75rem;}
    </style>
</head>
<body>
    <a href="#main-content" class="visuallyhidden">Skip to main content</a>
    <main id="main-content">
        <div class="hgroup">
            <div>
                <div class="hero">
                    <h1><span>THE</span> GALACTIC GUPPY</h1>
                </div>
                <p class="byline">“The Ultimate Fish Out Of Water Story”</p>
            </div>
        </div>
        {% set items = collections.posts | reverse %}
        {% for post in items %}
        <article>
            <img src="{{ post.data.img }}" alt="{{ post.data.title }}" loading="lazy">
        </article>
        {% endfor %}
    </main>
    <footer>
        <p>The Galactic Guppy is a poorly drawn comic by <a href="https://joshcrain.io/">Josh Crain</a>.</p>
        <p>&copy; <span id="year"></span></p>
        <script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
    </footer>
</body>
</html>